@using Guide.Models
@using Guide.Models.Objects
@using Guide.Models.Interfaces
@using Guide.Models.Objects.BackpackAndContainerObject
@{
    ViewData["Title"] = "Artifact Builder";
}

<div class="text-center">
    @{
        <h1>Barters</h1>
        foreach (BarterItem barter in new BarterItemObject().GetAll())
        {
            <img src="@barter.ImgSource" alt="@barter.Name">
            <h2>
                @barter.Name
            </h2>
            <h3>
                Rarity: @barter.Rarity
            </h3>
            <h3>
                Price: @barter.Price ₽
            </h3>
            <h3>
                Weight: @barter.Weight
            </h3>
            <h3>
                Obtained:
            </h3>
            <p>
                @barter.Obtained
            </p>
            <h3>
                Description:
            </h3>
            <p>
                @barter.Description
            </p>
        }
        <h1>Containers</h1>
        foreach (BackpackAndContainer container in new ArtifactContainerObject().GetAll())
        {
            <img src="@container.ImgSource" alt="@container.Name">
            <h2>
                @container.Name
            </h2>
            @if (container.Protection > 0)
            {
                <h3>
                    Protection: @container.Protection
                </h3>
            }
            <h3>
                Artifact Slots: @container.ArtifactSlots
            </h3>
            @if (container.CarryWeight > 0)
            {
                <h3>
                    Carry Weight: @container.CarryWeight
                </h3>
            }
            <h3>
                Class: @container.Class
            </h3>
            <h3>
                Weight: @container.Weight kg
            </h3>
            <h3>
                Rarity: @container.Rarity
            </h3>
            <h3>
                Bases:
            </h3>
            @foreach (KeyValuePair<string, string> bases in container.BarterBase)
            {
                <p>
                    @bases.Key | @bases.Value
                </p>
            }
            int i = 1;
            @foreach (Barter barter in container.Barters)
            {
                <h3>
                    Barter #@i
                </h3>
                <p>
                    Cost: @barter.Cost ₽
                </p>
                foreach (KeyValuePair<IBarter, int> item in barter.BarterResources)
                {
                    <img src="@item.Key.ImgSource" alt="@item.Key.Name">
                    <p>
                        @item.Value
                    </p>
                }
                i += 1;
            }
            <h3>
                Used in:
            </h3>
            @foreach (IBarter barter in container.UsedIn)
            {
                <img src="@barter.ImgSource" alt="@barter.Name">
                <p>
                    @barter.Name
                </p>
            }
            <h3>
                Description:
            </h3>
            <p>
                @container.Description
            </p>
        }
        <h1>Backpacks</h1>
        foreach (BackpackAndContainer backpack in new BackpackObject().GetAll())
        {
            <img src="@backpack.ImgSource" alt="@backpack.Name">
            <h2>
                @backpack.Name
            </h2>
            @if (backpack.Protection > 0)
            {
                <h3>
                    Protection: @backpack.Protection
                </h3>
            }
            <h3>
                Artifact Slots: @backpack.ArtifactSlots
            </h3>
            @if (backpack.CarryWeight > 0)
            {
                <h3>
                    Carry Weight: @backpack.CarryWeight
                </h3>
            }
            <h3>
                Class: @backpack.Class
            </h3>
            <h3>
                Weight: @backpack.Weight kg
            </h3>
            <h3>
                Rarity: @backpack.Rarity
            </h3>
            <h3>
                Bases:
            </h3>
            @foreach (KeyValuePair<string, string> bases in backpack.BarterBase)
            {
                <p>
                    @bases.Key | @bases.Value
                </p>
            }
            <h3>
                Barter:
            </h3>
            @foreach (Barter barter in backpack.Barters)
            {
                <p>
                    Cost: @barter.Cost ₽
                </p>
                foreach (KeyValuePair<IBarter, int> item in barter.BarterResources)
                {
                    <p>
                        @item.Key.Name : @item.Value
                    </p>
                }
            }
            <h3>
                Used in:
            </h3>
            @foreach (IBarter barter in backpack.UsedIn)
            {
                <img src="@barter.ImgSource" alt="@barter.Name">
                <p>
                    @barter.Name
                </p>
                <h3>
                    Description:
                </h3>
                <p>
                    @backpack.Description
                </p>
            }

        }
    }
</div>
