<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOFA Guide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Guide.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="sticky navbar-layout">
        <p class="title">[SOFA] Guide</p>
    </header>
    <div class="sticky" style="top: 80px;">
        <div id="mainSidebar" class="sidebar-container sticky">
            <button class="sidebar-button" onclick="location.href='@Url.Action("Index", "Guide")'">
                Guide
            </button>
            <button class="sidebar-button" onclick="location.href='@Url.Action("Index", "Market")'">
                Market
            </button>
            <button class="sidebar-button" data-sidebar-id="databaseSidebar" onclick="openSidebar(this)">
                Database
            </button>
            <button class="sidebar-button" onclick="location.href='@Url.Action("Index", "Barter")'">
                Barter Tree
            </button>
            <button class="sidebar-button" onclick="location.href='@Url.Action("Index", "ArtefactBuilder")'">
                Artefact Builder
            </button>
            <button class="sidebar-button" onclick="location.href='@Url.Action("Index", "Map")'">
                Map
            </button>
            <button class="sidebar-button" onclick="location.href='@Url.Action("Index", "Quest")'">
                Quest Tree
            </button>
            <button class="sidebar-button" onclick="location.href='@Url.Action("Index", "Timer")'">
                Timers
            </button>
        </div>
    </div>
    @await Component.InvokeAsync("DatabaseSidebar")
    <div class="text-center content-container padding-top">
        @RenderBody()
    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - Guide - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
