@using Guide.Models
@using System.Net
@using Guide.Models.ViewModels;
@model ArmorViewModel

@{
    ViewData["Title"] = "Database";
}

<div class="text-center scrollable padding-top">
    @{
        <img src="@Model.Armor.ImgSource" />
        <h1>Id: @Model.Armor.Id</h1>
        <h3>@Model.Armor.Name</h3>
        <h5>Rarity: @Model.Armor.Rarity</h5>
        <h5>Class: @Model.Armor.Class</h5>
        <h5>Weight: @Model.Armor.Weight</h5>
        if (Model.Armor.Features.Count > 0)
        {
            <h5>Features:</h5>
            foreach (string feature in Model.Armor.Features)
            {
                <p>@feature</p>
            }
        }
        if (Model.Armor.Properties.Count > 0)
        {
            <h5>Properties:</h5>
            foreach (KeyValuePair<string, int> property in Model.Armor.Properties)
            {
                string drawProperty = $"{property.Key}: {property.Value}";
                <p>
                    @drawProperty
                </p>
            }
        }
        <h5>Stats:</h5>
        foreach (KeyValuePair<string, string> stat in Model.Armor.Stats)
        {
            string drawStat = $"{stat.Key}: {stat.Value}";
            <p>
                @drawStat
            </p>
        }
        <h5>CompatibleBackpacks:</h5>
        <p>@Model.Armor.CompatibleBackpacks</p>
        <h5>CompatibleContainers:</h5>
        <p>@Model.Armor.CompatibleContainers</p>
        <p>@Model.Armor.Description</p>
    }
</div>