@using Guide.Models
@using System.Net
@using Guide.Models.ViewModels;
@model ArtefactViewModel

@{
    ViewData["Title"] = "Database";
}

@{
    <img src="@Model.Artefact.ImgSource" />
    <h1>Id: @Model.Artefact.Id</h1>
    <h3>@Model.Artefact.Name</h3>
    <h5>Class: @Model.Artefact.Class</h5>
    <h5>Weight: @Model.Artefact.Weight</h5>
    <h5>Stats:</h5>
    foreach (KeyValuePair<string, Dictionary<double, double>> stat in Model.Artefact.ArtefactStats)
    {
        string drawStat;
        if (stat.Value.Keys.FirstOrDefault() == stat.Value.Values.FirstOrDefault())
        {
            drawStat = $"{stat.Key}: {stat.Value.Keys.FirstOrDefault().ToString()}";
        }
        else
        {
            drawStat = $"{stat.Key}: {stat.Value.Keys.FirstOrDefault()} - {stat.Value.Values.FirstOrDefault()}";
        }
        if (stat.Key == "Radiation" || stat.Key == "Psy-emissions" || stat.Key == "Biological infection" || stat.Key == "Frost" || stat.Key == "Temperature")
        {
            if (stat.Value.Keys.FirstOrDefault() > 0)
            {
                <p style="color: red">
                    @drawStat
                </p>
            }
            else
            {
                <p style="color: green">
                    @drawStat
                </p>
            }
        }
        else
        {
            <p style="color: green">
                @drawStat
            </p>
        }
    }
    <p>@Model.Artefact.Description</p>
}