@using Guide.Models
@using System.Net
@using Guide.Models.ViewModels;
@model ItemViewModel

@{
    ViewData["Title"] = "Database";
}

@{
    <img src="@Model.Item.ImgSource" />
    <h1>Id: @Model.Item.Id</h1>
    <h3>@Model.Item.Name</h3>
    <h5>Class: @Model.Item.Class</h5>
    <h5>Weight: @Model.Item.Weight</h5>
    <h5>Features:</h5>
    foreach (string feature in Model.Item.Features)
    {
        <p>
            @feature
        </p>
    }
    <h5>Stats:</h5>
    foreach (KeyValuePair<string, string> stat in Model.Item.Stats)
    {
        string drawStat = $"{stat.Key}: {stat.Value}";
        <p>
            @drawStat
        </p>
    }
    if (Model.Item.Description != null)
    {
        <p>@Model.Item.Description</p>
    }
}