@using Guide.Models
@using System.Net
@using Guide.Models.ViewModels;
@model GrenadeViewModel

@{
    ViewData["Title"] = "Database";
}

@{
    <img src="@Model.Grenade.ImgSource" />
    <h1>Id: @Model.Grenade.Id</h1>
    <h3>@Model.Grenade.Name</h3>
    <h5>Class: @Model.Grenade.Class</h5>
    <h5>Weight: @Model.Grenade.Weight</h5>
    if (Model.Grenade.Features.Count() > 0)
    {
        <h5>Features:</h5>
        foreach (string feature in Model.Grenade.Features)
        {
            <p>
                @feature
            </p>
        }
    }
    <h5>Stats:</h5>
    foreach (KeyValuePair<string, string> stat in Model.Grenade.Stats)
    {
        string drawStat = $"{stat.Key}: {stat.Value}";
        <p>
            @drawStat
        </p>
    }
    if (Model.Grenade.Description != null)
    {
        <p>@Model.Grenade.Description</p>
    }
}