@using Guide.Models
@using System.Net
@{
    ViewData["Title"] = "Database";
}

<div class="text-center">
    @{
        List<ArtefactModel> artefacts = new ArtefactModel().GetAllArtefacts();
        foreach (ArtefactModel artefact in artefacts)
        {
            <img src="@artefact.ImgSource" />
            <h1>Id: @artefact.Id</h1>
            <h3>@artefact.Name</h3>
            <h5>Class: @artefact.Class</h5>
            <h5>Weight: @artefact.Weight</h5>
            <h5>Stats:</h5>
            foreach (KeyValuePair<string, Dictionary<double, double>> stat in artefact.Stats)
            {
                string drawStat = $"{stat.Key}: {stat.Value.Keys.FirstOrDefault()}-{stat.Value.Values.FirstOrDefault()}";
                <p>
                    @drawStat
                </p>
            }
            if (String.IsNullOrEmpty(artefact.Description))
            {
                <p>@artefact.Description</p>
            }
        }
        List<ContainerModel> containers = new ContainerModel().GetAllContainers();
        foreach (ContainerModel container in containers)
        {
            <img src="@container.ImgSource" />
            <h1>Id: @container.Id</h1>
            <h3>@container.Name</h3>
            <h5>Rarity: @container.Rarity</h5>
            <h5>Class: @container.Class</h5>
            <h5>Weight: @container.Weight</h5>
            <h5>Stats:</h5>
            foreach (KeyValuePair<string, int> stat in container.Stats)
            {
                string drawStat = $"{stat.Key}: {stat.Value}";
                <p>
                    @drawStat
                </p>
            }
            if (String.IsNullOrEmpty(container.Description))
            {
                <p>@container.Description</p>
            }
        }

        List<ArmorModel> armors = new ArmorModel().GetAllArmors();
        foreach (ArmorModel armor in armors)
        {
            <img src="@armor.ImgSource" />
            <h1>Id: @armor.Id</h1>
            <h3>@armor.Name</h3>
            <h5>Rarity: @armor.Rarity</h5>
            <h5>Class: @armor.Class</h5>
            <h5>Weight: @armor.Weight</h5>
            if (armor.Features.Count > 0)
            {
                <h5>Features:</h5>
                foreach (string feature in armor.Features)
                {
                    <p>@feature</p>
                }
            }
            if (armor.Properties.Count > 0)
            {
                <h5>Properties:</h5>
                foreach (KeyValuePair<string, int> property in armor.Properties)
                {
                    <p>
                        @{
                            string drawProperty;
                            if (property.Value == 0)
                            {
                                drawProperty = $"{property.Key}";
                            }
                            else
                            {
                                drawProperty = $"{property.Key}: {property.Value}";
                            }
                        }
                        @drawProperty
                    </p>
                }
            }
            <h5>Stats:</h5>
            foreach (KeyValuePair<string, int> stat in armor.Stats)
            {
                <p>
                    @{
                        string drawStat = $"{stat.Key}: {stat.Value}";
                    }
                    @drawStat
                </p>
            }
            <h5>Compatible Backpacks: @armor.CompatibleBackpacks</h5>
            <h5>Compatible Containers: @armor.CompatibleContainers</h5>
            <p>@armor.Description</p>
        }
    }
</div>