@using Guide.Models
@using System.Net
@using Guide.Models.ViewModels;
@model DatabaseViewModel

@{
    ViewData["Title"] = "Database";
}

<script>
    function openSidebar(element) {
        closeSidebar("armorSidebar")
        closeSidebar("artefactSidebar")
        closeSidebar("containerSidebar")
        closeSecondarySidebars()
        var sidebarId = element.getAttribute('data-sidebar-id');
        var sidebarElement = document.getElementById(sidebarId);
        sidebarElement.style.width = "200px";
        sidebarElement.style.outline = "2px solid rgb(20, 20, 20)";
        sidebarElement.style.color = "rgb(155, 155, 155)";
        sidebarElement.style.padding = "5px 2px 25px 2px";
        sidebarElement.style.left = "0px";
        sidebarElement.style.top = "0px";
    }
    function openSecondarySidebar(element) {
        closeSecondarySidebars()
        var sidebarId = element.getAttribute('data-sidebar-id');
        var sidebarElement = document.getElementById(sidebarId);
        sidebarElement.style.width = "200px";
        sidebarElement.style.outline = "2px solid rgb(20, 20, 20)";
        sidebarElement.style.color = "rgb(155, 155, 155)";
        sidebarElement.style.padding = "5px 2px 25px 2px";
        sidebarElement.style.left = "0px";
        sidebarElement.style.top = "0px";
    }
    function closeSidebar(sidebarId) {
        var sidebarElement = document.getElementById(sidebarId);
        sidebarElement.style.width = "0";
        sidebarElement.style.outline = "none";
        sidebarElement.style.color = "rgba(155, 155, 155, 0)";
        sidebarElement.style.padding = "0";
        sidebarElement.style.left = "-2000px";
    }
    function closeSecondarySidebars() {
        closeSidebar("clothesSidebar")
        closeSidebar("combatSidebar")
        closeSidebar("comboSidebar")
        closeSidebar("scientistSidebar")
        closeSidebar("biochemicalSidebar")
        closeSidebar("electrophysicalSidebar")
        closeSidebar("gravitationalSidebar")
        closeSidebar("thermalSidebar")
    }
</script>

<div class="sticky" style="top: 80px;">
    <div id="mainSidebar" class="sidebar-container sticky">
        <button class="sidebar-button">
            Weapon
        </button>
        <button class="sidebar-button" data-sidebar-id="armorSidebar" onclick="openSidebar(this)">
            Armor
        </button>
        <button class="sidebar-button" data-sidebar-id="containerSidebar" onclick="openSidebar(this)">
            Backpacks and Containers
        </button>
        <button class="sidebar-button" data-sidebar-id="artefactSidebar" onclick="openSidebar(this)">
            Artefact
        </button>
    </div>
    @* armor sidebar *@
    <div id="armorSidebar" class="second-sidebar sidebar-container sticky">
        <button class="sidebar-button" data-sidebar-id="clothesSidebar" onclick="openSecondarySidebar(this)">
            Clothes
        </button>
        <button class="sidebar-button" data-sidebar-id="combatSidebar" onclick="openSecondarySidebar(this)">
            Combat
        </button>
        <button class="sidebar-button" data-sidebar-id="comboSidebar" onclick="openSecondarySidebar(this)">
            Combo
        </button>
        <button class="sidebar-button" data-sidebar-id="scientistSidebar" onclick="openSecondarySidebar(this)">
            Scientist
        </button>
    </div>
    @* armor sidebar - Clothing *@
    <div id="clothesSidebar" class="second-sidebar sidebar-container sticky">
        @foreach (ArmorModel armor in Model.Armors)
        {
            if (armor.Class == "Clothing")
            {
                <button class="sidebar-button" onclick="location.href='@Url.Action("Armor", "Database", new {armorId = armor.Id})'">
                    @armor.Name
                </button>
            }
        }
    </div>
    @* armor sidebar - Combat *@
    <div id="combatSidebar" class="second-sidebar sidebar-container sticky">
        @foreach (ArmorModel armor in Model.Armors)
        {
            if (armor.Class == "Combat")
            {
                <button class="sidebar-button" onclick="location.href='@Url.Action("Armor", "Database", new {armorId = armor.Id})'">
                    @armor.Name
                </button>
            }
        }
    </div>
    @* armor sidebar - Combo *@
    <div id="comboSidebar" class="second-sidebar sidebar-container sticky">
        @foreach (ArmorModel armor in Model.Armors)
        {
            if (armor.Class == "Combo")
            {
                <button class="sidebar-button" onclick="location.href='@Url.Action("Armor", "Database", new {armorId = @armor.Id})'">
                    @armor.Name
                </button>
            }
        }
    </div>
    @* armor sidebar - Scientist *@
    <div id="scientistSidebar" class="second-sidebar sidebar-container sticky">
        @foreach (ArmorModel armor in Model.Armors)
        {
            if (armor.Class == "Scientist")
            {
                <button class="sidebar-button" onclick="location.href='@Url.Action("Armor", "Database", new {armorId = @armor.Id})'">
                    @armor.Name
                </button>
            }
        }
    </div>

    @* container & backpack sidebar *@
    <div id="containerSidebar" class="second-sidebar sidebar-container sticky">
        @foreach (ContainerModel container in Model.Containers)
        {
            <button class="sidebar-button" onclick="location.href='@Url.Action("Container", "Database", new {containerId = @container.Id})'">
                @container.Name
            </button>
        }
    </div>

    @* artefact sidebar *@
    <div id="artefactSidebar" class="second-sidebar sidebar-container sticky">
        <button class="sidebar-button" data-sidebar-id="biochemicalSidebar" onclick="openSecondarySidebar(this)">
            Biochemical
        </button>
        <button class="sidebar-button" data-sidebar-id="electrophysicalSidebar" onclick="openSecondarySidebar(this)">
            Electrophysical
        </button>
        <button class="sidebar-button" data-sidebar-id="gravitationalSidebar" onclick="openSecondarySidebar(this)">
            Gravitational
        </button>
        <button class="sidebar-button" data-sidebar-id="thermalSidebar" onclick="openSecondarySidebar(this)">
            Thermal
        </button>
    </div>
    @* artefact sidebar - Biochemical *@
    <div id="biochemicalSidebar" class="second-sidebar sidebar-container sticky">
        @foreach (ArtefactModel artefact in Model.Artefacts)
        {
            if (artefact.Class == "Biochemical")
            {
                <button class="sidebar-button" onclick="location.href='@Url.Action("Artefact", "Database", new {artefactId = artefact.Id})'">
                    @artefact.Name
                </button>
            }
        }
    </div>
    @* artefact sidebar - Electrophysical *@
    <div id="electrophysicalSidebar" class="second-sidebar sidebar-container sticky">
        @foreach (ArtefactModel artefact in Model.Artefacts)
        {
            if (artefact.Class == "Electrophysical")
            {
                <button class="sidebar-button" onclick="location.href='@Url.Action("Artefact", "Database", new {artefactId = artefact.Id})'">
                    @artefact.Name
                </button>
            }
        }
    </div>
    @* artefact sidebar - Gravitational *@
    <div id="gravitationalSidebar" class="second-sidebar sidebar-container sticky">
        @foreach (ArtefactModel artefact in Model.Artefacts)
        {
            if (artefact.Class == "Gravitational")
            {
                <button class="sidebar-button" onclick="location.href='@Url.Action("Artefact", "Database", new {artefactId = artefact.Id})'">
                    @artefact.Name
                </button>
            }
        }
    </div>
    @* artefact sidebar - Thermal *@
    <div id="thermalSidebar" class="second-sidebar sidebar-container sticky">
        @foreach (ArtefactModel artefact in Model.Artefacts)
        {
            if (artefact.Class == "Thermal")
            {
                <button class="sidebar-button" onclick="location.href='@Url.Action("Artefact", "Database", new {artefactId = artefact.Id})'">
                    @artefact.Name
                </button>
            }
        }
    </div>
</div>




<div class="text-center scrollable padding-top">
</div>